<%- include("./partials/header.ejs") %>

<!-- Styles are not working right. When I add styles directly in this HTML it works, but for some reason when adding anything to the main.css
 it does not work. I dont know why the link is not working for the modify ejs.-->
  <div class="container">
    <h1 class="m-2 text-center">
      <%=heading%>
    </h1>
      <% if (locals.post) { %>
        <form id="editForm" method="post" action="/api/posts/<%=post.id%>">
          <div class="container d-flex flex-column justify-content-center w-75">
            <input class="m-2 form-control" type="text" name="title" value="<%=post.title %>">
            <textarea class="m-2 form-control" name="content" rows="10"><%=post.content %></textarea>
            <input class="m-2 form-control" type="text" name="author" value="<%=post.author %>">
            <button class="m-2 btn btn-secondary" type="submit">
              <%= submit %>
            </button>
          </div>
        </form>
    <%} else {%>
      <form id="newPostForm" method="post" action="api/posts">
        <div class="container d-flex flex-column justify-content-center w-75">
          <input class="m-2 form-control" type="text" name="title" placeholder="Title" required>
          <textarea class="m-2 form-control" name="content" placeholder="Content" required rows="10"></textarea>
          <input class="m-2 form-control" type="text" name="author" placeholder="Author" required>
          <button class="m-2 btn btn-success" class="full-button" type="submit">
            <%= submit %>
          </button>
        </div>
      </form>
    <%}%>

  </div>
  <%- include("./partials/footer.ejs") %>